body{
    padding: 0%;
    margin: 0%;
    overflow-y: hidden;
    color: white;
}

.root{
    background-image: radial-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url(/Netflix/images/landing\ page.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    padding-left: 2vw;
    padding-right: 4vw;
    padding-top: 1%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-netflix{
    width: 14%;
    color: #e50914;
    margin-left: 8%;
}

.btn-language{
    background-color: #1d1818;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 22px;
    padding-left: 20px;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    width: fit-content;
    cursor: pointer;
    margin-left: 53%;
}

.btn-sign-in{
    background-color: #e50914;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    height: 90vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title-contanier{
    color: white;
    width: 50%;
    text-align: center;
}

.main-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2em;
    margin-bottom: 14px;
}

.main-subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-bottom: 40px;
}

.main-call-to-action{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.main-email-container{
    width: 55%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 18%;
    color: white;
}

.main-email-input{
    margin-left: 20%;
    height: 20%;
    background-color: transparent;
    border-radius: 5px;
    border-color: grey;
    padding: 20px 109px;
    font-size: 1em;
    display: flex;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.main-get-started{
    cursor: pointer;
    border-radius: 5px;
    padding: 18px 32px;
    font-family: Arial, Helvetica, sans-serif;
    height: 30%;
    background-color: #e50914;
    color: white;
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;
}

.main-get-started:hover{
    background-color: #ff0b18;
}